{% extends "bootstrap_5_layout.html" %}

{% block content %}


<h1 style="text-align: center; color:Blue;"> Welcome to EventFinder!</h1>

<h3 style = "text-align: center; color:blue;">Perfect App for New Travelers</h3>

<p>
Our mission it to make travel seamless for everyone, and to make connecting with city events easy.
 
This app leverages the TicketMaster API to find events in cities across the world.
</p>

<h4 style = "color:blue;"> Navigation</h4>

<p>
    To use the app, navigate to the search page. First, enter your destination in the input box. 
    Next, select dates for your trip, and specify your search radius.
</p>

<p>
    Under the advanced options tab, you can specify option like, family friendly events, events that are still to be announced, or events only available on TicketMaster.
</p>

<h4 style = "color:blue;">Search</h4>

<p>
Click search, and explore the events available in your desired city and dates! Make your itinerary planning easy!
Hover over events, and click on "View on TicketMaster" to naviagte directly to the event's page. 
EventFinder makes finding tickets for your favorite events easy!
</p>

<p>Login with Google credentials to add saved events to the saved tab!</p>

<h4 style="text-align:center; color:blue;">Start planning your next adventure with us today!</p>

<img style= "image-orientation: center;" src="https://imageio.forbes.com/specials-images/imageserve/66ba827c8ff2be58a5e1ea62/Aircraft-landing-at-sunrise/960x0.jpg?format=jpg&width=960" alt="A stunning sunset" width="600" height="400" />


{% if session['current_user'] %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="https://media.licdn.com/dms/image/v2/D4E03AQEsfPtLCY2zSg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1684860897363?e=2147483647&v=beta&t=VlaxQmF5QF_JhlNLCZoswPisbemTw7E3-4oJx-3EuXQ" 
        class="rounded me-2" alt="..." style="width: 40px; height: 40px;">
        <strong class="me-auto">Brooke</strong>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" style="color:black">
        <p>
        Hey! Thanks for logging in, want to <br> <a href="/saved/new">create a new itinerary?</a>
        </p>
    </div>
    </div>
  </div>

{% else %}

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="/static/images/colin.jpg" class="rounded me-2" alt="..." style="width: 40px; height:40px;">
        <strong class="me-auto">Colin</strong>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" style="color:black">
        Welcome to EventFinder! <br> The best way to get started is <a href="/login">login!</a>
      </div>
    </div>
  </div>

{% endif %}

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const toastElement = document.getElementById('liveToast');
        const toast = new bootstrap.Toast(toastElement);
        toast.show();
    });

</script>


{% endblock %}