{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Search For Events" %}
{% set active_page = "search" %}

{% block content %}

<form class="row g-3 needs-validation" action="/search/sanity" method="POST" novalidate>
    <div class="form-floating mb-3">
      {% if 'yes' in request_data %}
        <input type="text" name="destination" class="form-control" placeholder={{query}}  id="Destination" aria-label="Destination" disabled>
        <label for="Destination">{{query}}</label>
      {% else %}
      <input type="text" name="destination" class="form-control" placeholder="Destination" id="Destination" aria-label="Destination" required>
      <div class="invalid-feedback"> Please provide a valid destination. </div>
        <label for="Destination">Where are you Traveling?</label>
      {% endif %}
      <div id="emailHelp" class="form-text">It can be a place, address, or city!</div>
      {% if 'yes' not in request_data %}
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      {% endif %}
    </div>
</form>

{% if 'yes' in request_data %}
<h3>Tell us more about your trip to {{query}}!</h3>
<form class="row g-3" action="/search/events" method="POST">
  <div class="col-sm-3">
    <label for="date" class="form-label">Select Dates: </label>
    <input type="text" id="date" name="date" class="form-control" placeholder="Pick a date" readonly>
  </div>
  <div class="row g-3">
    <div class="col-3">
      <label for="customRange3" class="form-label">Search Radius</label>
      <input type="range" class="form-range" min="0" max="100" step="1" id="customRange3" name="range">
      <input type="number" class="form-control" id="rangeNumber" placeholder="0 Miles" readonly>
    </div>
  </div>
  <div class="col-12">
    <!-- Dropdown for Advanced Options -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Event Type
      </button>
      <ul class="dropdown-menu" multiple>
        <li><a class="dropdown-item" href="#">Sports</a></li>
        <li><a class="dropdown-item" href="#">Music</a></li>
        <li><a class="dropdown-item" href="#">Arts & Theatre</a></li>
        <li><a class="dropdown-item" href="#">Miscellaneous</a></li>
      </ul>
    </div>
    <button class="btn btn-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#advancedOptions" aria-expanded="false" aria-controls="advancedOptions">
      Advanced Options
    </button>
    <div class="collapse" id="advancedOptions">
      <div class="card card-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="option1" name="family">
          <label class="form-check-label" for="option1">
            Family Friendly?
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="option2" name="source">
          <label class="form-check-label" for="option2">
            Single Source? (Only include Ticketmaster Events)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="option3" name="tba">
          <label class="form-check-label" for="option3">
            Include TBA/TBD?
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <button type="submit" class="btn btn-primary">Find Events!</button>
  </div>
</form>
{% endif %}

    <!-- Script to Update Range Selection-->
<script>
  const rangeInput = document.getElementById('customRange3');
  const numberInput = document.getElementById('rangeNumber');
  rangeInput.value = 0
  rangeInput.addEventListener('input', function() {
      numberInput.placeholder = rangeInput.value + " Miles";
  });
</script>

  <!-- Create the datepicker -->
<script>
  flatpickr("#date", {
    mode: "range",
    minDate: "today",
    dateFormat: "m-d-Y",
    defaultDate:"today",
    onOpen: function(selectedDates, dateStr, instance) {
    // Clear the input field when the calendar is opened
    instance.clear()
    }
  });
</script>

<!-- Validation Script -->
<script>
  (() => {
    'use strict'

    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()){
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      },false)
    })
  })()


</script>
{% endblock %}